/*======================*\
      navbar section
\*======================*/
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  background-color: grey;

  a {
    padding: 0.5rem 0 0 0.5rem;

    img {
      height: 4rem;
      width: 4rem;
    }
  }
}
