    <!-- featured articles section -->
<section class="featured-articles">
  <h1>Latest Articles</h1>
  <!-- articles container -->
  <ul class="articles-container">
    <!-- article -->
    <li>
      <a href=""> <!-- routing -->
        <!-- article img -->
        <figure>
          <img src="images/code.jpg" alt="article-image">
        </figure>
        <!-- article description -->
        <article>
          <!-- article meta -->
          <div>
            <p>Tech</p>
            <time datetime="2024-06-10">June 10, 2024</time>
          </div>
          <!-- article content -->
          <h3>Programming Languages</h3>
          <p class="article-content">
            Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi
            Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit
            nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident.
          </p>
        </article>
      </a>
    </li>
    <!-- article -->
    <li>
      <a href=""> <!-- routing -->
        <!-- article img -->
        <figure>
          <img src="images/moon.jpg" alt="article-image">
        </figure>
        <!-- article description -->
        <article>
          <!-- article meta -->
          <div>
            <p>Space</p>
            <time datetime="2024-06-10">June 10, 2024</time>
          </div>
          <!-- article content -->
          <h3>Facts about Earth's Moon</h3>
          <p class="article-content">
            Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi
            Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit
            nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident.
          </p>
        </article>
      </a>
    </li>
  </ul>
</section>
