<!-- featured articles section -->
<section class="featured-articles">
  <!-- article img -->
  <figure>
    <img [src]="articleContent.image" alt="this is {{ articleContent.title }}">
  </figure>
  <article>
    <!-- article meta -->
    <div>
      <p>{{ articleContent.topic }}</p>
      <time>{{ articleContent.time }}</time>
    </div>
    <!-- article content -->
    <h3>{{ articleContent.title }}</h3>
    <p> {{ articleContent.summary }} </p>
    <a [routerLink]="['/content', articleContent.id]">Read more...</a>
  </article>
</section>
