<!-- Open weather API -->
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <h3 class="mb-4 pb-2 fw-normal">Open Weather App</h3>
        <p>Current time: {{currentTime | date:'shortTime'}}, {{currentTime | date}}</p>
        <div class="input-group rounded mb-3">
          <form [formGroup]="searchBar" (submit)="searchResult()">
            <input type="text" placeholder="Enter City" formControlName="city" autofocus>
            <button type="submit">search</button>
          </form>
        </div>
        <div class="mb-4 pb-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
              value="option1" checked />
            <label class="form-check-label" for="inlineRadio1">Celsius</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
              value="option2" />
            <label class="form-check-label" for="inlineRadio2">Farenheit</label>
          </div>
        </div>
        <div class="card shadow-0 border">
          <div class="card-body p-4">
            <h4 class="mb-1 sfw-normal">City: {{geocodeDataJson.name}}, {{geocodeDataJson.country}}</h4>
            <p>State: {{geocodeDataJson.state}}</p>
            <div class="d-flex flex-column align-items-left">
              <img src="{{weatherDataJson.icon}}" alt="weather-icon">
              <p>Weather: {{weatherDataJson.weather}}</p>
              <p>Description: {{weatherDataJson.description}}</p>
              <p>Clouds: {{weatherDataJson.clouds}}%</p>
              <p>Pressure: {{weatherDataJson.pressure}} hPa</p>
              <p>Humidity: {{weatherDataJson.humidity}}%</p>
              <p>Wind: {{weatherDataJson.wind}} meters/second</p>
              <p>Temperature: {{weatherDataJson.temperature}}°C</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- forecast -->
        <h2>Today's Forecast</h2>
        <section class="forecast">
          <article>
            <!-- 6 -->
            <h3>6am</h3>
            <p>{{forecastDataJson[0].date}}</p>
            <img src="{{forecastDataJson[0].icon}}" alt="weather-icon">
            <p>Weather: {{forecastDataJson[0].weather}}</p>
            <p>Description: {{forecastDataJson[0].description}}</p>
            <p>clouds: {{forecastDataJson[0].clouds}}%</p>
            <p>temperature: {{forecastDataJson[0].temperature}}</p>
            <p>pressure: {{forecastDataJson[0].pressure}} hPa</p>
            <p>humidity: {{forecastDataJson[0].humidity}}%</p>
            <p>wind: {{forecastDataJson[0].wind}} meters/second</p>
            <p>wind: {{forecastDataJson[0].temperature}} Kelvin</p>
          </article>
          <article>
            <!-- 9 -->
            <h3>9am</h3>
            <p>{{forecastDataJson[1].date}}</p>
            <img src="{{forecastDataJson[1].icon}}" alt="weather-icon">
            <p>Weather: {{forecastDataJson[1].weather}}</p>
            <p>Description: {{forecastDataJson[1].description}}</p>
            <p>clouds: {{forecastDataJson[1].clouds}}%</p>
            <p>temperature: {{forecastDataJson[1].temperature}}</p>
            <p>pressure: {{forecastDataJson[1].pressure}} hPa</p>
            <p>humidity: {{forecastDataJson[1].humidity}}%</p>
            <p>wind: {{forecastDataJson[1].wind}} meters/second</p>
            <p>wind: {{forecastDataJson[1].temperature}} Kelvin</p>
          </article>
          <article>
            <!-- 12 -->
            <h3>12 noon</h3>
            <p>{{forecastDataJson[2].date}}</p>
            <img src="{{forecastDataJson[2].icon}}" alt="weather-icon">
            <p>Weather: {{forecastDataJson[2].weather}}</p>
            <p>Description: {{forecastDataJson[2].description}}</p>
            <p>clouds: {{forecastDataJson[2].clouds}}%</p>
            <p>temperature: {{forecastDataJson[2].temperature}}</p>
            <p>pressure: {{forecastDataJson[2].pressure}} hPa</p>
            <p>humidity: {{forecastDataJson[2].humidity}}%</p>
            <p>wind: {{forecastDataJson[2].wind}} meters/second</p>
            <p>wind: {{forecastDataJson[2].temperature}} Kelvin</p>
          </article>
          <article>
            <!-- 3 -->
            <h3>3pm</h3>
            <p>{{forecastDataJson[3].date}}</p>
            <img src="{{forecastDataJson[3].icon}}" alt="weather-icon">
            <p>Weather: {{forecastDataJson[3].weather}}</p>
            <p>Description: {{forecastDataJson[3].description}}</p>
            <p>clouds: {{forecastDataJson[3].clouds}}%</p>
            <p>temperature: {{forecastDataJson[3].temperature}}</p>
            <p>pressure: {{forecastDataJson[3].pressure}} hPa</p>
            <p>humidity: {{forecastDataJson[3].humidity}}%</p>
            <p>wind: {{forecastDataJson[3].wind}} meters/second</p>
            <p>wind: {{forecastDataJson[3].temperature}} Kelvin</p>
          </article>
          <article>
            <!-- 6 -->
            <h3>6pm</h3>
            <p>{{forecastDataJson[4].date}}</p>
            <img src="{{forecastDataJson[4].icon}}" alt="weather-icon">
            <p>Weather: {{forecastDataJson[4].weather}}</p>
            <p>Description: {{forecastDataJson[4].description}}</p>
            <p>clouds: {{forecastDataJson[4].clouds}}%</p>
            <p>temperature: {{forecastDataJson[4].temperature}}</p>
            <p>pressure: {{forecastDataJson[4].pressure}} hPa</p>
            <p>humidity: {{forecastDataJson[4].humidity}}%</p>
            <p>wind: {{forecastDataJson[4].wind}} meters/second</p>
            <p>temperature: {{forecastDataJson[4].temperature}} Kelvin</p>
          </article>
        </section>
      </div>
    </div>
  </div>
</section>
<!--
<h2>Results</h2>
<p>City Name: {{geocodeDataJson.name}}</p>
<p>Country Name: {{geocodeDataJson.country}}</p>
<p>Latitude: {{geocodeDataJson.latitude}} degrees</p>
<p>Longitude: {{geocodeDataJson.longitude}} degrees</p>
<p>State: {{geocodeDataJson.state}}</p>
<img src="{{weatherDataJson.icon}}" alt="weather-icon">
<p>Weather: {{weatherDataJson.weather}}</p>
<p>Description: {{weatherDataJson.description}}</p>
<p>Clouds: {{weatherDataJson.clouds}}%</p>
<p>Pressure: {{weatherDataJson.pressure}} hPa</p>
<p>Humidity: {{weatherDataJson.humidity}}%</p>
<p>Wind: {{weatherDataJson.wind}} meters/second</p>
<p>Temperature: {{weatherDataJson.temperature}} Kelvin </p>

<p>Current time: {{currentTime | date:'shortTime'}}, {{currentTime | date}}</p>
<h2>Search Bar</h2>
<form [formGroup]="searchBar" (submit)="searchResult()">
  <input type="text" placeholder="Enter City" formControlName="city" autofocus>
  <button type="submit">search</button>
</form>
<input type="search" class="form-control rounded" placeholder="City" aria-label="Search"
            aria-describedby="search-addon" />
<a href="#!" type="button">
  <span class="input-group-text border-0 fw-bold" id="search-addon">
    Check!
  </span>
</a>
<p>Feels like: <strong>4.37°C</strong></p>
<p>Max: <strong>6.11°C</strong>, Min: <strong>3.89°C</strong></p>

<span>Temperature: {{tempDataJson.temperature}} </span>
  temperature unit change
  standard - Kelvin
  metric - Celsius
  imperial - Fahrenheit
<select #temp (change)="onSel(temp.value)">
  <option default>standard</option>
  <option>metric</option>
  <option>imperial</option>
</select>
-->
