/*======================*\
      main section
\*======================*/
main {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
.featured-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
